@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.rotate-object {
 animation: rotateObject 7s linear infinite alternate;
}

@keyframes rotateObject {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.svgIcon {
  width: 40px;
  fill: blue;
}


.optionColor {
  background: radial-gradient(#fff, #c0deff);
  background-repeat: no-repeat;
}

.OptionColor {
  background: radial-gradient(#fff, #ffeab4);
  background-repeat: no-repeat;
}

.EventsBgImg {
  background-image: url('/images/bgEvent.png');
  background-repeat: no-repeat;
}

